:root {
  --green: #12b886;
  --lightGreen: rgba(18, 184, 134, 0.05);
  --grey: rgba(241, 243, 245, 1);
  --grey3: rgba(134, 142, 150, 1);
  --black: rgba(33, 37, 41, 1);
  --white: #fff;
}

main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.products__container {
  display: flex;
  align-items: center;
  height: 300px;
  width: 100%;
}

.products__container > .products__list {
  display: flex;
  height: 100%;
  overflow: auto;
}

.products__container > .products__list > .products__item {
  height: 282px;
  width: 274px;
  margin: 0 12px;
}

.products__container > .products__list > .products__item > img {
  height: 175px;
  width: 274px;
}

.products__container > .products__list > .products__item > .products__info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  height: 65px;
}

.products__container
  > .products__list
  > .products__item
  > .products__info
  > .products__title {
  font-size: 16px;
  font-weight: 500;
  color: var(--black);
}

.products__container
  > .products__list
  > .products__item
  > .products__info
  > .products__section {
  font-size: 14px;
  font-weight: 400;
  color: var(--grey3);
}

.products__container
  > .products__list
  > .products__item
  > .products__info
  > .products__components--list {
  display: none;
  flex-direction: column;
}

.products__container
  > .products__list
  > .products__item
  > .products__info
  > .products__components--list
  > .products__components--item {
  color: var(--grey3);
  font-size: 14px;
}

.products__container > .products__list > .products__item > .products__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.products__container
  > .products__list
  > .products__item
  > .products__actions
  > .products__price {
  font-size: 12px;
  font-weight: 500;
  color: var(--black);
}

.products__container
  > .products__list
  > .products__item
  > .products__actions
  > .products__addCart {
  padding: 7px 10px;
  font-size: 11px;
  font-weight: 500;
  color: var(--green);
  border: 1px solid var(--green);
  border-radius: 8px;
  background-color: var(--lightGreen);
}

/* Cart */

.products__cart {
  height: auto;
  width: 90%;
  max-width: 350px;
  margin-bottom: 50px;
}

.products__cart--title {
  height: 42px;
  width: 100%;
  background-color: var(--green);
  border-radius: 12px 12px 0px 0px;
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
}

.products__cart--list {
  height: 150px;
  background-color: var(--grey);
  border-radius: 0 0 12px 12px;
}

.products__cart--quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 100%;
  margin-top: 10px;
  background-color: var(--grey);
  border-radius: 8px;
}

.products__cart--totalPrice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 100%;
  margin-top: 10px;
  background-color: var(--grey);
  border-radius: 8px;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  main {
    width: 100%;
    max-width: 1200px;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .products__container {
    width: 80%;
    height: auto;
  }

  .products__list {
    flex-wrap: wrap;
  }

  .products__cart {
    width: 100%;
    max-width: 290px;
  }
}
